apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-sa
      containers:
      - name: backend
        image: ghcr.io/kubosis/pwndepot/backend:2ceb0ea
        ports:
        - containerPort: 8000

        # 1. Load Secrets (DB passwords, Secret Keys)
        envFrom:
        - secretRef:
            name: db-creds
        - secretRef:
            name: backend-keys

        # 2. Hardcoded / Non-Critical Configs
        env:
        # Dynamic Database URL construction
        - name: SQLALCHEMY_POSTGRE_SYNC_URL
          value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@postgres:5432/$(POSTGRES_DB)"
        - name: SQLALCHEMY_POSTGRE_ASYNC_URL
          value: "postgresql+asyncpg://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@postgres:5432/$(POSTGRES_DB)"

        # Server Config
        - name: UVICORN_SERVER_HOST
          value: "0.0.0.0"
        - name: UVICORN_SERVER_PORT
          value: "8000"
        - name: API_VERSION
          value: "v1"
        - name: ENV
          value: "PROD"
        - name: SERVER_WORKERS
          value: "2"
        - name: RATE_LIMIT_PER_MINUTE
          value: "10"

        # CORS
        - name: ALLOWED_ORIGINS
          value: "https://www.pwndep0t.com,https://pwndep0t.com"

        # Email Settings
        - name: SMTP_HOST
          value: "smtp.gmail.com"
        - name: SMTP_PORT
          value: "587"
        - name: SMTP_USE_TLS
          value: "true"
        - name: SMTP_USERNAME
          value: "mailer@pwndep0t.com"
        - name: MAIL_FROM
          value: "PwnDepot <contact@pwndep0t.com>"
        - name: CONTACT_RECEIVER_EMAIL # TODO
          value: "contact@pwndep0t.com"
        - name: JWT_ALGORITHM
          value: "HS256"
        - name: ACCESS_TOKEN_EXPIRE_MINUTES
          value: "15"

        - name: REDIS_URL
          value: "redis://redis:6379/0"
        - name: FRONTEND_DOMAIN
          value: "https://www.pwndep0t.com"

        - name: K8S_CHALLENGE_NAMESPACE
          value: ctf-challenges
        - name: CHALLENGE_K8S_POD_TTL_SECONDS
          value: "3600"
        - name: MAX_ACTIVE_INSTANCES
          value: "50"
        - name: PUBLIC_TCP_HOST
          value: pwndep0t.com
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: default
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000