apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: default
spec:
  acme:
    # The Let's Encrypt Production Server
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin.ctf.isep@proton.me
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: traefik