name: Trivy Security Scan

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  trivy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # TRIVY - FILESYSTEM SCAN
      # -------------------------
      - name: Trivy filesystem scan (deps, secrets, IaC)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true
          format: table

      # -------------------------
      # DOCKER IMAGE SCAN
      # -------------------------
      - name: Build backend image
        run: docker build -t backend:ci app/backend

      - name: Trivy backend image scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: backend:ci
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true
          format: table
